html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

body {
    margin: 0;
    padding: 8px;
}

ol {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    list-style-type: none;
    margin-bottom:  .25em;
}

.name {
    flex: 1 1 auto;
    overflow: hidden;
    line-height: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: #3b73af;
}

a:focus, a:hover, a:active {
    text-decoration: underline;
}

.kind, .votes {
    display: inline-block;
    flex: 0 0 auto;
    margin-left: .25em;
    padding: 2px 5px;
    /*color: #4a6785;*/
    background-color: #f5f5f5;/*#fff*/
    border: 1px solid #ccc;/*#e4e8ed*/
    border-radius: 3px;
}

.kind img, .votes img, .kind span, .votes span {
    vertical-align: middle;
}

.votes span {
    display: inline-block;
    width: 2ch;
}
