#{extends 'main.html' /}
#{set title:'Planet Slipstream' /}
<ol>
#{list items:data.productions, as:'production'}
    <li>
        <div class="name"><a href="https://www.pouet.net/prod.php?which=${production.id}" target="_blank">${production.name}</a> (${production.released})</div>
        <div class="kind">
        #{list items:production.types, as:'type'}
            <img src="${type.type()}" title="${type}" alt="${type}">
        #{/}
        #{list items:production.platforms, as:'platform'}
            <img src="${production.platforms.get(platform.key).icon}" title="${production.platforms.get(platform.key).name}" alt="${production.platforms.get(platform.key).name}">
        #{/}
        </div>
        <div class="votes">
            <img src="http://content.pouet.net/gfx/rulez.gif" alt="Thumbs up">
            <span>${production.voteup}</span>
            <img src="http://content.pouet.net/gfx/isok.gif" alt="Pigs">
            <span>${production.votepig}</span>
            <img src="http://content.pouet.net/gfx/sucks.gif" alt="Thumbs down">
            <span>${production.votedown}</span>
        </div>
    </li>
#{/}
</ol>
